<!DOCTYPE html>
<html>

<head>
  <title>Contact Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  <%- include('header') %>

    <div class="container" style="margin-top: 15px;">
      <h1 style="font-size: 1.5em">Contact Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>
              <%= contact.name %>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>
              <%= contact.email %>
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>:</td>
            <td>
              <%= contact.phone %>
            </td>
          </tr>
        </tbody>
      </table>
      <h3>
        <input type="button" class="btn btn-outline-success btn-sm" value="Edit" onclick="location.href = '/contacts/edit/<%= contact._id%>';">
      </h3>
      <button class="deleteButton" data-uid="<%= contact._id%>" onclick="clickHandler()">
        Delete
      </button>
    </div>
</body>

<script>

function clickHandler() {

  if (confirm("Do you want to delete contact?")) {
    const uid = "<%= contact._id%>";
    console.log("delete: ", uid);
    deleteContact(uid);
    const requesthome = $.ajax({
        url: '../contacts/',
        type: 'get'
      });

      setTimeout('window.location.replace("../");', 1000);
  } else {
    txt = "You pressed Cancel!";
  }
}

function deleteContact(uid) {
  const request = $.ajax({
    url: `/contacts/delete/${uid}`,
    type: "delete",
    success: function (data) {
      console.log("delete done", data);
    },
    error: function (jqXHR, textStatus, errorThrown) {
      console.log("error happend");
      console.log(jqXHR, textStatus, errorThrown);
    }
  });

      
  
}

</script>

</html>